.location-container {
  padding-top: 3rem;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.location-title {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: center;
}

.location-title h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

.location-title hr {
  border: 2px solid rgb(59, 130, 246);
  border-radius: 15px;
  width: 45%;
}

.location-display {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: #f8fafc;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  gap: 1.5rem;
}

.location {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.location-name {
  font-size: 1.5rem;
  font-weight: bold;
  color: #334155;
}

.location-address,
.location-number {
  font-size: 1rem;
  color: #475569;
}

.middle-line {
  border: none;
  height: 1px;
  background-color: rgba(100, 116, 139, 0.2);
  margin: 1rem 0;
}

.schedule {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.schedule-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #334155;
}

.schedule-day {
  font-size: 1rem;
  color: #475569;
}

.icon {
  font-size: 2rem;
  color: #3b82f6;
  margin-bottom: 0.5rem;
}

.icon-inline {
  font-size: 1rem;
  color: #3b82f6;
  margin-right: 0.5rem;
}

@media (min-width: 800px) {
  .location-display {
    flex-direction: row;
    justify-content: space-between;
    padding: 2.5rem 4rem;
  }

  .location {
    text-align: left;
  }

  .schedule {
    text-align: left;
  }

  .middle-line {
    height: auto;
    width: 1px;
    background-color: rgba(100, 116, 139, 0.2);
  }
}
