.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.navbar-menu-container {
  position: relative;
}

.healthLink-container {
  display: none;
}

.right-side {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.menu-icon-container,
.profile-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

.profile-icon-container {
  height: 2.5rem;
  width: 2.5rem;
}

.menu-icon-container-active {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: rgb(229, 231, 235);
}

.menu-icon {
  font-size: 2.3rem;
  transition: all 1s ease;
}

.profile-icon {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.navbar-menu,
.navbar-profile {
  position: absolute;
  top: 4rem;
  left: 0.5rem;
  padding: 0.5rem 0.5rem;
  background-color: rgb(241, 241, 241);
  width: 12rem;
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  z-index: 100;
}

.navbar-menu-active {
  position: absolute;
  top: 4rem;
  left: 0.5rem;
  padding: 0.5rem 0.5rem;
  background-color: rgb(241, 241, 241);
  width: 12rem;
  border-radius: 10px;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease;
  z-index: 100;
}

.navbar-profile-active {
  position: absolute;
  top: 4.5rem;
  right: 0.5rem;
  padding: 0.5rem 0.5rem;
  background-color: rgb(241, 241, 241);
  width: 12rem;
  border-radius: 10px;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease;
  z-index: 100;
}

.navbar-menu-items,
.navbar-profile-items {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.navbar-menu-link,
.navbar-profile-link {
  text-decoration: none;
  color: black;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 0.9rem 0.5rem;
  display: block;
}

.navbar-menu-link:not(.active):hover,
.navbar-profile-link:not(.active):hover {
  color: rgb(157, 208, 238);
}

.active {
  color: rgb(255, 255, 255);
  display: block;
  border-radius: 8px;
  background-color: rgb(60, 151, 255);
}

@media (min-width: 900px) {
  .navbar-container {
    padding-left: 2%;
    padding-right: 2%;
    column-gap: 1.5rem;
  }

  .right-side {
    width: auto;
  }

  .navbar-menu-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .menu-icon-container {
    display: none;
  }

  .healthLink-container {
    display: flex;
    align-items: center;
  }

  .helthLink-logo-container {
    height: 3rem;
    width: 3rem;
  }

  .helthLink-logo-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .helthLink-title {
    margin-left: 0.7rem;
    font-size: 1.7rem;
    font-weight: bold;
    font-style: italic;
    color: rgb(8, 119, 170);
  }

  .navbar-menu,
  .navbar-menu-active {
    position: static;
    display: flex;
    align-items: center;
    background-color: transparent;
    opacity: 1;
    visibility: visible;
    width: auto;
    padding: 0;
  }

  .navbar-menu-items {
    flex-direction: row;
    display: flex;
    align-items: center;
  }

  .navbar-menu-item {
    padding: 0;
  }

  .navbar-menu-link {
    padding: 0.5rem 1rem;
  }
}
