.top-container {
  margin-top: 4rem;
  margin-bottom: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-top: 3rem;
  margin-bottom: 3rem;
  color: rgb(57, 78, 106);
  font-size: 1.8rem;
}

.line {
  width: 70%;
  border: 1px solid rgba(229, 231, 235, 0.856);
  margin-bottom: 1.5rem;
}

.event-line {
  display: flex;
  align-items: center;
  margin-bottom: 4.5rem;
}

.event-circle {
  background-color: rgb(226, 232, 244);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.event-number {
  font-size: 0.9rem;
}

.event-name {
  position: absolute;
  top: 2.5rem;
  font-size: 0.9rem;
  font-weight: 400;
}

.event-link {
  width: 2.5rem;
  height: 0.5rem;
  background-color: rgb(226, 232, 244);
}

.event-active-circle {
  background-color: rgb(5, 122, 255);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.event-active-number {
  font-size: 0.9rem;
  color: white;
}

.event-active-link {
  width: 2.5rem;
  height: 0.5rem;
  background-color: rgb(5, 122, 255);
}

.date-container {
  margin-top: 2rem;
  width: 80%;
  max-width: 600px;
  padding: 20px;
  background-color: rgb(226, 232, 244);
  border-radius: 8px;
}

.date-container h2 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: rgb(57, 78, 106);
}

.date-picker {
  width: 100%;
  height: 40px;
  font-size: 14px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.date-picker:hover {
  border-color: #007bff;
}

.date-picker:focus {
  outline: none;
  border-color: #007bff;
}

.custom-calendar {
  border: 1px solid #ccc;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  font-size: 12px;
  background-color: rgb(226, 232, 244);
}

.time-container {
  margin-top: 2rem;
  width: 80%;
  max-width: 600px;
  padding: 20px;
  background-color: rgb(226, 232, 244);
  border-radius: 8px;
}

.time-container h2 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: rgb(57, 78, 106);
}

.time-select {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  outline: none;
}

.time-select option {
  font-size: 1rem;
}

.buttons {
  width: 80%;
  max-width: 600px;
  display: flex;
  column-gap: 2rem;
}

.button {
  width: 100%;
  margin-top: 2rem;
  padding: 0.8rem;
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #136ac7;
}

@media (max-width: 700px) {
  .top-container {
    margin-bottom: 8rem;
  }
}
