.top-container {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}

.title {
  margin-top: 3rem;
  margin-bottom: 3rem;
  color: rgb(57, 78, 106);
  font-size: 1.8rem;
}

.line {
  width: 70%;
  border: 1px solid rgba(229, 231, 235, 0.856);
  margin-bottom: 1.5rem;
}

.event-line {
  display: flex;
  align-items: center;
  margin-bottom: 4.5rem;
}

.event-circle {
  background-color: rgb(226, 232, 244);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.event-number {
  font-size: 0.9rem;
}

.event-name {
  position: absolute;
  top: 2.5rem;
  font-size: 0.9rem;
  font-weight: 400;
}

.event-link {
  width: 2.5rem;
  height: 0.5rem;
  background-color: rgb(226, 232, 244);
}

.event-active-circle {
  background-color: rgb(5, 122, 255);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.event-active-number {
  font-size: 0.9rem;
  color: white;
}

.event-active-link {
  width: 2.5rem;
  height: 0.5rem;
  background-color: rgb(5, 122, 255);
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 4rem;
}

@media (max-width: 1300px) {
  .services-grid {
    width: 60%;
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
  }
}

@media (max-width: 800px) {
  .services-grid {
    width: 90%;
  }
}
