.faqs-container {
  padding-top: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.faqs-title {
  font-size: 1.2rem;
  font-weight: 600;
}

.questions-container {
  margin-top: 1rem;
}

.faq-container {
  margin-bottom: 1rem;
}

.faqs-question-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 0.5rem 0.7rem;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.faqs-question-container:hover {
  background-color: #f1f1f1;
}

.faqs-question {
  font-size: 0.8rem;
  color: #333;
}

.arrow-icon {
  font-size: 1.5rem;
  color: #4ba2ff;
}

.faqs-answer {
  display: none;
  font-size: 1rem;
  color: #666;
  padding: 0.5rem 1rem;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-top: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  font-size: 0.8rem;
}

.faq-container.active .faqs-answer {
  display: block;
}
